# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env/
.venv/
env/
venv/

# Poetry
poetry.lock

# Pytest
.cache/
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# System
.DS_Store
Thumbs.db

